<section id="client" class="pb-12 md:pb-12">
  <div class="px-5 max-w-screen-xl lg:mx-auto">
    <div class="py-10 grid gap-x-2 gap-y-5 sm:gap-y-2 grid-cols-1 md:grid-cols-3 md:grid-flow-row-dense">

      <div class="md:col-span-3">
        {# <h3 class="text-rose-700 mb-10 text-sm font-bold tracking-widest uppercase dark:text-gray-400">{{ data.featuredWorkTitle }}</h3> #}
        <span class="block text-xl tracking-tight text-gray-700 dark:text-gray-300 mb-10 md:w-2/3">
        {{ data.featuredWorkDescription }}
        </span>
      </div>
    
    </div>
  </div>

  
    
  {# Client #}
  <div class="client-list w-full">
      <div class="whitespace-nowrap item-center">
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/ibuprof_odmblg.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/article36_zqvg3q.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/mammasip_iloodk.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460707/portfolio/clients/kemendes_kmsd2w.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460707/portfolio/clients/kemenag_c7zvlu.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/gotoko_i87tsa.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/indonesiapower_wmgnme.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/frgroup_s0oy0u.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/choolifah_hwppnn.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/puspresnas_snwoxr.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648771531/portfolio/clients/bizlab_drt9fz.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460707/portfolio/clients/satupintu_tukfo4.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460707/portfolio/clients/katon_hxnnsh.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/sha_szpw5c.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460707/portfolio/clients/va_fzynvz.png"></span>

        
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/ibuprof_odmblg.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/article36_zqvg3q.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/frgroup_s0oy0u.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460707/portfolio/clients/kemendes_kmsd2w.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460707/portfolio/clients/kemenag_c7zvlu.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/gotoko_i87tsa.png"></span>
        <span><img src="https://res.cloudinary.com/tomesux/image/upload/v1648460708/portfolio/clients/indonesiapower_wmgnme.png"></span>
        
        {# List 2 paste dbawahnya lagi aja #}
      </div>
    </div>
</section>


<section id="works" class="">
  <div class="px-5 py-10 max-w-screen-xl lg:mx-auto">
    <div class="py-10 grid gap-x-2 gap-y-5 sm:gap-y-2 grid-cols-1 md:grid-cols-3 md:grid-flow-row-dense">

      {% for item in collections.works | reverse%}
        {% if item.data.featured %}
          <a
          href="{{item.url}}"
          title="view {{item.data.title}}"
          class="flex flex-col justify-between post bg-gray-800 relative md:transform md:hover:-translate-y-2 md:transition-transform"
          >
            <article style="background-color: #{{item.data.bgColor}}">
            <header class="p-5 lg:p-8 h-24 md:h-48">
              <span class="text-gray-800 text-3xl tracking-tighter font-bold block">{{ item.data.title }}</span>
              <span class="text-gray-600 text-base font-normal">{{ item.data.tasks }}</span>
            </header>
            <picture class="block">
            {% respimg item.data.featuredImg, item.data.title %}
            </picture>
            </article>
          </a>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>